@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: light --default;
}

body{
  font-family: 'Lora', serif;
}

.banner {
  min-height: 75vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)), url("/bannerimg.jpg");
}

/* From Uiverse.io by TISEPSE */ 
.btn2 {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 15px 0px;
  width: 100%;
  border: 2px solid #212121;
  text-transform: uppercase;
  color: #212121;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #fefefe;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #fefefe;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #212121;
}

.btn2:active {
  border: 2px solid #fff;
}

.btn2 span {
  position: relative;
  z-index: 3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}